<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Olgado</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/olgado/css")
    @Styles.Render("~/materialize/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper-container body-content">
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        @Html.Partial("~/Views/Shared/_Search.cshtml")
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/olgado")
    @RenderSection("scripts", required: false)
</body>
</html>